<!DOCTYPE html>
<html lang="en">
{% load filters %}
<head>
    <meta charset="UTF-8">
    <title>模版过滤器</title>
        <style>
        .red{
            background-color: red;
        }
        .blue{
            background-color: blue;
        }
        .green{
            background-color: green;
        }
    </style>
</head>
<body>

{% for b in book %}
{#    {% if b.id <= 2 %}#}
{#    {% if b.id|mod %}#}
    {% if b.id|mod_val:3 %}
        <li class="red">{{ b.btitle }}{{ b.bpub_date|date:'Y年-m月-d日' }}</li>
    {% else %}
        <li class="green">{{ b.btitle }}{{ b.bpub_date }}</li>
    {% endif %}
{% endfor %}
</body>
</html>