<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模版标签</title>
    <style>
        .red{
            background-color: red;
        }
        .blue{
            background-color: blue;
        }
        .green{
            background-color: green;
        }
    </style>
</head>
<body>

{% for b in book %}
    {% if b.id <= 2 %}
        <li class="red">{{ forloop.counter }}--{{ b.btitle }}{{ b.id }}</li>
    {% elif b.id <= 5 %}
        <li class="blue">{{ forloop.counter }}--{{ b.btitle }}{{ b.id }}</li>
    {% else %}
        <li class="green">{{ forloop.counter }}--{{ b.btitle }}{{ b.id }}</li>
    {% endif %}
{% endfor %}

</body>
</html>